<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>moonShadow.github.sync</string>
	<key>Program</key>
	<string>/Users/xuyiding/Documents/iOS/MOONWorkflow/sync.sh</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/xuyiding/Documents/iOS/MOONWorkflow/sync.sh</string>
		<string>1</string>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/xuyiding/Desktop/sync_today.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/xuyiding/Desktop/sync_today.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>19</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
